header{
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to bottom, rgb(7, 20, 134), rgb(67, 83, 233));
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    letter-spacing: 1.5px;
}
.h1-header{
    padding-top:20px ;
    text-align: center;
    font-size: 40px;
    color: white;
}

@media screen and (max-width: 650px){
    header{
        background-color: #2955d9;
        width: 100%;
        height: 100px;
    }
    .h1-header{
        padding-top:20px ;
        text-align: center;
        font-size: 30px;
        color: white;
    }
}

@media screen and (min-width: 651px) and (max-width: 1210px){
    header{
        background-color: #2955d9;
        width: 100%;
        height: 100px;
    }
    .h1-header{
        padding-top:20px ;
        text-align: center;
        font-size: 40px;
        color: white;
    }
}